body {
    /*background: linear-gradient(#1a2f38, #000000);
    min-height: 100vh;*/
    background-color: #1a2f38;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}/*Degradê Bonitin*//*Esquece o degradê, o campo de input do js quebrava o layout*/
.cyan {
    color: cyan;
}
.green {
    color: green;
}
.purple {
    color: rgb(168, 94, 202);
}
.gray {
    color: gray;
}
.yellow {
    color: yellow;
}
.black-bg {
    background-color: black;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.red-bg {
    background-color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.green-bg {
    background-color: green;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.yellow-bg {
    background-color: yellow;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.blue-bg {
    background-color: blue;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.magenta-bg {
    background-color: magenta;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.cyan-bg {
    background-color: cyan;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.white-bg {
    background-color: white;
    display: inline-block;
    width: 20px;
    height: 20px;}
.bright-black-bg {
    background-color: #555;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.bright-red-bg {
    background-color: #f00;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.bright-green-bg {
    background-color: #0f0;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.bright-yellow-bg {
    background-color: #ff0;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.bright-blue-bg {
    background-color: #00f;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.bright-magenta-bg {
    background-color: #f0f;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.bright-cyan-bg {
    background-color: #0ff;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.bright-white-bg {
    background-color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.bold {
    font-weight: bold;
}
.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.neofetch {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}/*Alinhamento do texto*/
#neofetch-template {
    display: none;
}/*Hide neofetch when necessary. USEI MUITO ISSO NO DEBUG*//*OBS: Na versão final, o neofetch inicia oculto no HTML, mas e é cerregado pelo JS*/
.prompt {
    display: flex;
    align-items: center;
}

.prompt-text {
    white-space: pre; /* Só pra garantir que o espaço vai ser mantido ;) */
}

#prompt-input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    outline: none;
    flex-grow: 1; /* Se tudo der certo, o input ocupa toda a linha */
    padding-left: 5px; 
}

.output {
    margin-left: 10px;
    padding-bottom: 10px;
}

.directory {
    color: cyan;
    font-weight: bold;
}
