body {
    background: linear-gradient(#1a2f38, #000000);
    min-height: 100vh;
    color: white;
}/*Degradê Bonitin*/
.cyan {
    color: cyan;
}
.green {
    color: green;
}
.purple {
    color: rgb(168, 94, 202);
}
.gray {
    color: gray;
}
.yellow {
    color: yellow;
}
.black-bg {
    background-color: black;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.red-bg {
    background-color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.green-bg {
    background-color: green;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.yellow-bg {
    background-color: yellow;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.blue-bg {
    background-color: blue;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.magenta-bg {
    background-color: magenta;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.cyan-bg {
    background-color: cyan;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.white-bg {
    background-color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bright-black-bg {
    background-color: #555;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bright-red-bg {
    background-color: #f00;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bright-green-bg {
    background-color: #0f0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bright-yellow-bg {
    background-color: #ff0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bright-blue-bg {
    background-color: #00f;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bright-magenta-bg {
    background-color: #f0f;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bright-cyan-bg {
    background-color: #0ff;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bright-white-bg {
    background-color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.bold {
    font-weight: bold;
}
.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.neofetch {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}/*Alinhamento do texto*/
